@charset "utf-8";




    /***************/
   /*             */
  /*   General   */
 /*             */
/***************/


html, body {

	width:  100%;
	height: 100%;
}
body {

	margin:  0;
	border:  0;
	padding: 0;
	background-color: #000;
	color: #888;
	font-family: Ginger, "Helvetica Neue", Helvetica, sans-serif;
	font-size:   16px;
	line-height: 20px;
	overflow: hidden;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
a {

	color: #06C;
	text-decoration: none;
}
a:hover {

	border-top:    2px solid #06C;
	border-bottom: 2px solid #06C;
	background-color:        #06C;
	color: #FFF;
}




    /*****************/
   /*               */
  /*   Interface   */
 /*               */
/*****************/


.dg.ac .property-name, 
.dg.ac input,
.dg.ac .close-button {

	font-family: Ginger, "Helvetica Neue", Helvetica, sans-serif !important;
	font-size:   14px;
}
.dg.ac .close-button {

	font-size: 12px;
	color: rgba( 255, 255, 255, 0.3 );
}
.dg.ac .close-button:hover {

	color: #FFF;
}
#about {

	position: absolute;
	top:      0;
	left:   100%;
	width:  100%;
	height: 100%;
	background-color: rgba( 255, 255, 255, 0.9 );
	color: #000;
	opacity: 0.5;
	font-size:   1.5vw;
	line-height: 2.0vw;
	transition-property: left, opacity;
	transition-duration: 0.2s;
	transition-timing-function: ease-in;
}
#about.show {

	left: 0;
	opacity: 1;
	transition-property: left, opacity;
	transition-duration: 0.3s;
	transition-timing-function: ease-out;
}
#about .page {

	margin: 15vh auto 0 auto;
	width:  40vw;
	height: 85vh;
	overflow: auto;
}
#about h1 {

	margin-bottom: 2vw;
	font-size: 2vw;
}




    /*************/
   /*           */
  /*   Stats   */
 /*           */
/*************/


#stats {

	position: absolute;
	right:  0;
	bottom: 0;
}
#fps, #ms {

	background-color: rgba( 0, 0, 0, 0.85 ) !important;
}
#fpsText, #msText {

	color: #FFF !important;
	font-size: 11px !important;
	font-family: Akkurat-Mono, "Courier New", monospace !important;
}
#fpsGraph, #msGraph {

	background: linear-gradient( #FFF, #444 ) !important;
}
#fpsGraph span, #msGraph span {

	background-color: #333 !important;
}



